
body{
    background: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Khiem's CSS */
.nxk{
    color: white;
}

.nxk img{
    display: flex;
    justify-content: center;
    width: 100%;
}

.nxk h1{
    color: white;
    font-family:"Montserrat", sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.nxk h2{
    color: white;
    font-family:"Montserrat", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background:#AA2E2A ;
}

.nxk p{
    font-family:"Montserrat Alternates", sans-serif;
    font-size: 25px;
}

.highlight{
    color: #AA2E2A;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;

}

.info ul li{
    font-family:"Montserrat Alternates", sans-serif;
    font-size: 20px;
}

.nxk>div>p>a{
    text-decoration: none;
    color:#AA2E2A;
    font-weight: 500;
}

.story h2{
    text-align: center;
}

.story ul li{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
}

.list li:nth-child(3) a{
    text-decoration: none;
    color:aquamarine ;
    font-weight: bold;
    cursor: pointer;
}

.review-section p {
    margin-bottom: 15px;
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word; 
    white-space: normal; 
}

.Bảoreviewgame {
    color: white; 
}

.Bảoreviewgame .game-feeling {
    color: #00FF7F;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px; 
}

.anhgameplayvacutsences {
    column-count: 3;
    column-gap: 10px;
}

.anhgameplayvacutsences .item {
    break-inside: avoid;
    margin-bottom: 10px;
}

.anhgameplayvacutsences img { 
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.reviews .comment-title{
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00FF7F;  
}

.reviews .review-item {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(226, 228, 224);
}
