body {
    background: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* phanCSSbyBảo */
.content .gioithieutrang {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    margin: 20px 0;
}

.item {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.npt {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 1fr auto 80px;
    grid-template-areas: 
    "header header header"
    "sidebar content content"
    "sidebar comment comment"
    "footer footer footer";
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}

.npt h2 a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.item-1 {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nav ul {
    list-style: none;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
}

.nav ul li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.item-2 {
    grid-area: sidebar;
}

.item-2 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.item-3 {
    grid-area: content;
    display: grid;
    grid-template-rows: auto 1fr;
}

.item-3 img.inside-out {
    width: 100%;
    padding-top: 10px;
}

.tenphim {
    color: #EEA964;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.item-3 p {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 0;
}

.item-4 {
    grid-area: comment;
    margin-top: 20px;
}

.comment {
    color: #EEA964;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.bangcomment {
    padding: 10px;
    width: 100%;
}

.bangcomment .tieude {
    color: #EEA964;
    border: 2px solid white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

.bangcomment .tieude td {
    padding: 15px;
    text-align: center;
}

.bangcomment .nguoi1,
.bangcomment .nguoi2,
.bangcomment .nguoi3 {
    border: 2px solid white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.bangcomment .nguoi1 td,
.bangcomment .nguoi2 td,
.bangcomment .nguoi3 td {
    padding: 15px;
    text-align: center;
}

.item-5 {
    grid-area: footer;
    margin-top: 20px;
}

.item-5 .thoai {
    color: #EEA964;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    font-size: 25px;
}

.item-5 .nhanvat {
    color: #EEA964;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    font-size: 25px;
}
